<div class="container-fuild p-5">
  <div class="d-flex justify-content-between mb-2">
    <p style="font-weight: bold">RECORDS</p>
    <button
      type="button"
      class="btn btn-success"
      (click)="openModal(template, null, 'addData')"
    >
      ADD RECORDS
    </button>
  </div>
  <div>
    <input
      type="text"
      placeholder=" Search here....."
      class="p-2"
      style="border-radius: 10px"
      [(ngModel)]="searchText"
    />
  </div>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Notes</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Status</th>
        <th scope="col">M.Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of contactData
            | search : searchText : ['firstname', 'notes']
            | paginate : pagingConfig;
          let i = index
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.notes }}</td>
        <td>{{ item.dob | date : "shortDate" }}</td>
        <td>
          <span
            [ngClass]="
              item.status === 'active'
                ? 'badge custom-badge-success'
                : 'badge custom-badge-danger'
            "
          >
            {{ item.status }}
          </span>
        </td>

        <td>{{ item.contact }}</td>
        <td>
          <button style="border: none; background-color: transparent">
            <i
              class="bi bi-pencil-square"
              style="font-size: x-large; color: #29837d"
              (click)="openModal(template, item, 'editData')"
            ></i>
          </button>
          <button style="border: none; background-color: transparent">
            <i
              class="bi bi-trash-fill"
              style="font-size: x-large; color: #29837d"
              (click)="openModal(conform, null, '')"
            ></i>
          </button>
          <ng-template #conform>
            <div class="modal-body text-center">
              <p style="font-weight: bold">
                Are You Sure Do You Want To Delete This Record?
              </p>
              <button
                type="button"
                class="btn btn-danger me-3"
                (click)="deleta(item._id)"
              >
                Yes
              </button>
              <button
                type="button"
                class="btn btn-dark"
                (click)="modalRef?.hide()"
              >
                No
              </button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
  <!-- (pageSizeChange)="onTableSizeChange($event)" -->
</div>
<ng-template #template>
  <div class="modal-body">
    <div class="header-div">
      <p style="font-weight: bold">
        {{ editMode ? "UPDATE REDORDS" : "ADD RECORDS" }}
      </p>
      <button
        type="button"
        class="btn-close close"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name :</label>
        <input
          type="text"
          id="firstname"
          formControlName="firstname"
          class="form-control"
        />
        <div *ngIf="submitted && f['firstname'].errors">
          <div *ngIf="f['firstname'].errors['required']" style="color: brown">
            REQUIRED
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Last Name :</label>
        <input
          type="text"
          id="lastname"
          class="form-control"
          formControlName="lastname"
        />
      </div>

      <div class="form-group">
        <label for="email">Email :</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
        <div *ngIf="submitted && f['email'].errors">
          <div *ngIf="f['email'].errors['required']" style="color: brown">
            REQUIRED
          </div>
          <div *ngIf="f['email'].errors['email']" style="color: brown">
            INVALID EMAIL
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contact">Contact Number :</label>
        <input
          type="tel"
          id="contact"
          class="form-control"
          formControlName="contact"
        />
        <div *ngIf="submitted && f['contact'].errors">
          <div *ngIf="f['contact'].errors['required']" style="color: brown">
            REQUIRED
          </div>
          <div *ngIf="f['contact'].errors['pattern']" style="color: brown">
            ENTER 10 DIGIT NUMBER
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" class="form-select" formControlName="status">
          <option value="active">Active</option>
          <option value="deactive">Deactive</option>
        </select>
      </div>
      <div class="form-group">
        <label for="address">Address :</label>
        <textarea
          id="address"
          formControlName="address"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="notes">Notes :</label>
        <textarea
          id="notes"
          class="form-control"
          formControlName="notes"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="dob">Date Of Birth :</label>
        <input
          id="dob"
          type="date"
          class="form-control"
          formControlName="dob"
        />
      </div>
      <button
        class="btn btn-dark closebtn"
        type="reset"
        (click)="modalRef?.hide()"
      >
        Close
      </button>
      <button class="btn btn-success submit" type="submit">
        {{ editMode ? "UPDATE" : "SUBMIT" }}
      </button>
    </form>
  </div>
</ng-template>
